.Header {
  border-radius: 8px;
  padding: 5px;
  width: 450px;
}

.LogoIcon {
  border-radius: 8px;
  padding: 5px;
  height: 50px;
  width: 100px;
}

.UserIcon {
  border-radius: 8px;
  padding: 5px;
  height: 40px;
  width: 40px;
}

.IconButton {
  color: #fff;
  background-color: transparent;
  border: none;
}
